<!DOCTYPE html>
<html>
  <head>
    <% include ./common/head %>
  </head>
  <body>
    <% include ./common/header %>
    <style>
      @media screen and (max-width: 575px) { /* the smallest size */
        .preview-img {
          width: 100%;
          display: inline-block;
          background-color: lightgray;
        }
      }

      @media screen and (min-width: 576px) {
        .preview-img {
          width: 100%;
          display: inline-block;
          background-color: lightgray;
        }
      }

      .preview-txt {
        height: 150px;
        width: 100%;
        display: inline-block;
        text-indent: 25px;
        background-color: lightgray;
        font: -webkit-control;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
      }


    </style>

    <main>
    
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            <% if(books != null && books.length > 0){ %>
              <% books.forEach(function(book) { %>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <div class="card mb-4 shadow-sm">

                    <% if(book.type == 'txt'){ %>
                      <div class="preview-txt" data-holder-rendered="true" data-src="<%= book._id %>"><%= book.preview %></div>
                    <% }else{ %>
                      <img class="preview-img" data-holder-rendered="true" src="data:image/png;base64,<%= book.preview %>" data-src="<%= book._id %>">
                    <% } %>
                    
                    <div class="card-body">
                      <p class="card-text"><%= book.path %></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">btn1</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">btn2</button>
                        </div>
                        <small class="text-muted">created time</small>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            <% }else{ %>
              <p class="text-muted">라이브러리 스캔 중입니다.</p>
            <% } %>

          </div>
        </div>
      </div>

      <script>
        const socket = io({forceNew: true});
        
      </script>

    </main>
    <% include ./common/footer %>
  </body>
</html>
